.container{
    border: solid;
    margin: 100px auto;
    height: 400px;
    width: 400px;

}

.euro{
    color: blue;
    height: 150px;
    width: 300px;
    margin: 30px auto;
    border: solid;
    text-align: center;
}
.other{
    color: red;
    height: 150px;
    width: 300px;
    margin: 30px auto;
    border: solid;
    text-align: center;
}
#euroText{
    color: green;
    font-size: 25px;
    margin: 20px;
}
#to{
    height: 30px;
    width: 70px;
    margin: 25px;
}
#submit{
    height: 30px;
    width: 70px;
}

