.container{
    border: solid;
    margin: 100px auto;
    height: 400px;
    width: 400px;

}

.euro{
    
    height: 100px;
    width: 300px;
    margin: 30px auto;
    text-align: center;
}
.other{

    height: 230px;
    width: 300px;
    margin: 30px auto;
    
    text-align: center;
}
#euroText{
    color: green;
    font-size: 25px;
    margin: 20px;
}
#otherText{
    font-size: 30px;
}
#to{
    font-size: 18px;
    width: 70px;
    height: 24px;
}
#submit{
    height: 30px;
    width: 70px;
}
#result{
    margin-top: 50px;
    font-size: 20px;
}

